.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.image-upload-container {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}
#picture__input {
  display: none;
}

.picture {
  width: 400px;
  aspect-ratio: 16/9;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
}
img.picture {
  object-fit: contain;
  
}
.picture:hover {
  color: #777;
  background: #ccc;
}

.picture:active {
  border-color: turquoise;
  color: turquoise;
  background: #eee;
}

.picture:focus {
  color: #777;
  background: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.button-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}
.clear-button,
.check-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-button:hover,
.check-button:hover {
  background-color: #2980b9;
}

.check-button:disabled,
.clear-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.skillBarContainer {
  width: 100%;
  max-width: 350px;
  height: 26px;
  height: 1.66em;
  background: #e6eae3;
  background: rgb(8, 102, 220);
  background: rgba(8, 102, 220, 0.2);
  overflow: hidden;
  border-radius: 5px;
}
.skillBarValue {
  text-align: center;
  padding: 1px;
  color: white;
  height: 1.8em;
  float: left;
  background: #0866dc;
  background: rgb(8, 102, 220);
  background: rgba(8, 102, 220, 0.75);
}
.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  max-width: 400px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #ff0000;
  color: #c00000;
}
.error-message i {
  margin-right: 10px;
  font-size: 24px;
}
.ocrloader {
  display: none;
}
.ocrloader {
  width: 402.5px;
  height: 228.5px;
  outline-offset: 10px;
  position: relative;
  position: absolute;
  left: 0%;
  top: 85.28px;
}

.ocrloader span::before {
  content: "";
  position: absolute;
  top: 3%;
  bottom: 0;
  left: 4%;
  width: 10px;
  height: 94%;
  background: #18c89b;
  box-shadow: 0 0 50px 10px #183ec8;
  clip-path: inset(0);
  animation: x 1s ease-in-out infinite alternate, y 1s ease-in-out infinite;
}

.ocrloader p::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #18c89b;
  position: relative;
  right: 4px;
}

.ocrloader p {
  color: #18c89b;
  position: absolute;
  bottom: -45px;
  left: 38%;
  font-size: 16px;
  font-weight: 600;
  animation: blinker 1s linear infinite;
  font-family: sans-serif;
  text-transform: uppercase;
}

.ocrloader:before,
.ocrloader:after,
.ocrloader em:after,
.ocrloader em:before {
  border-color: #18c89b;
  content: "";
  position: absolute;
  width: 45px;
  height: 46px;
  border-style: solid;
  border-width: 0px;
}

.ocrloader:before {
  left: 0;
  top: 0;
  border-left-width: 5px;
  border-top-width: 5px;
  border-radius: 5px 0 0 0;
}

.ocrloader:after {
  right: 0;
  top: 0;
  border-right-width: 5px;
  border-top-width: 5px;
  border-radius: 0 5px 0 0;
}
.ocrloader em:before {
  left: 0;
  bottom: 0;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-radius: 0 0 0 5px;
}
.ocrloader em:after {
  right: 0;
  bottom: 0;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-radius: 0 0 5px 0;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(190px);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(160px);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes x {
  to {
    transform: translateX(-100%);
    left: 100%;
  }
}

@keyframes y {
  33% {
    clip-path: inset(0 0 0 -100px);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  83% {
    clip-path: inset(0 -100px 0 0);
  }
}